<% provide(:title, "About") %>
<div class="text-center jumbotron">
  <h1 class="display-3 mb-5">About</h1>
  <p>
    This app was made by <a href="https://github.com/MattBelk">Matt Belk</a>
    as a practice in Rails 6. You can view the source code on 
    <a href="https://github.com/MattBelk/notes">GitHub</a>. 
  </p>
  <hr>
  <h3>Skills/technologies used:</h3>
  <ul class="align-items-center text-left" style="display:inline-block;" >
    <li>
      MVC design pattern with Rails.
    </li>
    <li>
      Another item
    </li>
  </ul>
</div>
