@import "~bootstrap/scss/bootstrap";

$gray: #eaeaea;
$gray-darker: darken($gray, 30%);


// Navbar

.sticky-offset {
  top: 56px;
}


// Forms

form {
  margin: $spacer * 1.5 0;
}
.field_with_errors input {
  @extend .is-invalid;
}


// Notes

.grid-item {
  // width: calc((100% / 3) - 10px);
  // margin: 0 5px;
  width: 30%;
  margin: 0 (10% / 6);

  &:hover {
    border: 1px solid $gray-darker;
    // transform: scale(1.025)
  }
}

.pin-btn {
  border: 1px solid $gray-darker;
  border-radius: 2px;
}


// ActionText / Trix editor

trix-editor {
  &.form-control {
    height: auto;
  }
}

.form-control {
  .attachment--preview {
    margin: 0.6em 0;
    width: 100%;
    text-align: center;
  }
  .attachment {
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}


// Debug in development ENV

.debug_dump {
  border: 2px solid gray;
  padding: 10px;
  border-radius: 4px;
}